<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Page Not Found | Trang không tồn tại</title>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Woops! Page not found.</p>
        <p>The page you're looking for doesn't exist or has been moved. <p id="malicious">or you are trying to do some malicious stuff to our URL</p></p>
        <p><a href="/">Go back to homepage</a></p>
    </div>
</body>
</html>
