<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 | Internal server error | Lỗi hệ thống</title>
    <link rel="stylesheet" href="css/500.css">
</head>
<body>
    <div class="container">
        <h1>500</h1>
        <p>Whoosh! Internal server error...</p>
        <p>There is an error in our server or the poor host machine is down (we live in a basement)<p id="plea">or we are just lazy</p></p>
        <p><a href="/">Go back to homepage</a></p>
    </div>
</body>
</html>
