<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Blog</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="/js/home.js" defer></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">    <!-------------NAVBAR-------------- navbar should be consistent across all main pages ---> 
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>                  <!-------------NAVBAR ENDS----------->
        <div class="content">
            <header class="header">
                <div class="page-name">NTee213</div>
                <div class="username">
                    <a href="/login"><p class="login-redirect">login</p></a>
                </div>
            </header>
            <main>
                <div class="news-feed">

                </div>
            </main>
        </div>
    </div>
</body>
</html>
