<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Đăng nhập</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form id="loginForm">
        <label name="label">
            <p class="info-hover" data-tooltip="lorem ipsum"></p>
            Email <input type="text" name="email" required></label><br>
        <label name="label">
            <p class="info-hover" data-tooltip="lorem ipsum dolor"></p>
            Mật khẩu
            <div class="password-container"></div>
                <input type="password" name="password" required>
                <span class="password-toggle"></span>
            </div>
        <button name="submitButton" type="submit">Login</button>
    </form>
    <a href="register"><p class="register-prompt">Chưa có tài khoản?</p></a>
    <form id="twoFAForm" style="display: none;">
        <input type="hidden" id="twoFAEmail" name="email">
        <label for="verificationCode">Verification Code:</label>
        <input type="text" id="verificationCode" name="verificationCode" required>
        <button name = "submitButton" type="submit">Verify</button>
    </form>
    <script src="js/login.js"></script>
</body>
</html>