<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Đăng nhập</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="form-container">
        <form id="loginForm">
            <label>
                <p class="info-hover" data-tooltip="lorem ipsum"></p>
                Email <input type="text" name="email" required>
            </label><br>
            <label>
                <p class="info-hover" data-tooltip="lorem ipsum dolor"></p>
                Mật khẩu
                <div class="password-container">
                    <input type="password" name="password" required>
                    <span class="password-toggle">show</span>
                </div>
            </label>
            <button name="submitButton" type="submit">Login</button>
        </form>

        <form id="twoFAForm" class="hidden">
            <input type="hidden" id="twoFAEmail" name="email">
            <label for="verificationCode">Verification Code:</label>
            <input type="text" id="verificationCode" name="verificationCode" required>
            <button name="submitButton" type="submit">Verify</button>
        </form>

        <div class="links">
            <a href="register"><p class="register-prompt">Chưa có tài khoản?</p></a>
            <a href="/home"><p class="grey-link">Continue as guest</p></a>
        </div>
    </div>
    
    <script src="js/login.js"></script>
</body>
</html>