<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form id="loginForm">
        <label name="label">
            <p class="info-hover" data-tooltip="Fact: Apple Stand Pro đắt hơn 20 con Thinkpad X220"></p>
            Tên người dùng <input type="text" name="username" required></label><br>
        <label name="label">
            <p class="info-hover" data-tooltip="Fact: có đến 65% khả năng là bạn mập hơn Nikocado Avocado"></p>
            Mật khẩu <input type="password" name="password" required></label><br>
        <button name="submitButton" type="submit">Login</button>
    </form>
    <a href="register.html"><p class="register-prompt">Chưa có tài khoản?</p></a>
        <script src="js/login.js"></script>
</body>
</html>