<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NT213 | Password reset</title>
    <link rel="stylesheet" href="/css/password-reset.css">
</head>
<body>
    <div class="form-container">
        <!-- Email Form -->
        <form id="emailForm">
            <label>
                <p class="info-hover" data-tooltip="Enter your registered email"></p>
                Email <input type="text" name="email" required>
            </label>
            <button name="submitButton" type="submit">Send Verification Code</button>
        </form>

        <!-- Verification Code Form -->
        <form id="verificationForm" class="hidden">
            <label for="verificationCode">Verification Code:</label>
            <input type="text" id="verificationCode" name="verificationCode" required>
            <button name="submitButton" type="submit">Verify</button>
        </form>

        <!-- Password Reset Form -->
        <form id="passwordResetForm" class="hidden">
            <label>
                New Password
                <div class="password-container">
                    <input type="password" name="newPassword" required>
                    <span class="password-toggle">show</span>
                </div>
                <div id="passwordError" class="error-message"></div>
            </label>
            <label>
                Confirm New Password
                <div class="password-container">
                    <input type="password" name="confirmPassword" required>
                    <span class="password-toggle">show</span>
                </div>
            </label>
            <button name="submitButton" type="submit">Reset Password</button>
        </form>

        <div class="links">
            <a href="/login"><p class="grey-link">Back to Login</p></a>
        </div>
    </div>

    <div class="links">
        <a href="/home"><p class="grey-link">Continue as guest</p></a>
    </div>
    
    <script src="/js/password-reset.js"></script>
</body>
</html>