<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Đăng ký</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <form id="registerForm">
        <!-- Email  -->
        <label name="label">
            <p class="info-hover" data-tooltip="thông tin 1"></p>
            Email <input type="text" name="email" required>
        </label>
        <!-- Email error message -->
        <p id="emailError" class="error-message"></p><br>
        <!-- Password -->
        <label name="label">
            <p class="info-hover" data-tooltip="thông tin 2"></p>
            Mật khẩu 
            <div class="password-container">
                <input type="password" name="password" required>
                <span class="password-toggle"></span>
            </div>
        </label><br>

        <div id="passwordError"></div>

        <label name="label">
            <p class="info-hover" data-tooltip="thong tin 3"></p>
            Nhập lại mật khẩu
            <div class="password-container">
                <input type="password" name="passwordClone" required>
                <span class="password-toggle"></span>
            </div>
        </label><br>
        <button name="submitButton" type="submit">Send Verification Code</button>
    </form>
    <form id="verificationForm" style="display: none;">
        <label name="label">
            Verification Code
            <input type="text" name="verificationCode" required>
        </label><br>
        <button name="verifyButton" type="submit">Verify and Register</button>
        <p id="expirationTimer"></p>
    </form>
    <a href="login"><p class="log-prompt">Đã có tài khoản?</p></a>
    <script src="js/register.js"></script>
</body>
</html>
